$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
header {
    display: flex;
    align-content: space-between;
    border: 1px solid #1f2041;
    box-shadow: 0 0 1px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    .text-navig {
        display: flex;
        color: rgba($styleDark, 0.5);
        > p {
            padding:20px;
        }
    }
    .bottom {
        display: flex;
        margin: 18px;
        p {
            padding: 10px 20px;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            text-transform: uppercase;
            margin: auto;
        }
        .bottom-in {
            display: flex;
            color: $stylePur;
            border: 2px solid;
            border-color: $grad;
            border-radius: 22px;
            margin: 20px;
        }
        .bottom-log {
            display: flex;
            background: $grad;
            border-radius: 22px;
            margin: 20px 140px 20px 0px;
            color: white;
        }
    }
    .TOXIC{
        font-size: 20px;
        margin: auto 13px auto 0px;
    }    
}
.logo {
    display: flex;
    margin: auto 13px auto 0px;
    width: 40px;
    height: 40px;
}
