doctype html 
html(lang="ru")
  link(rel="stylesheet", href="calendar.css")
  link(rel="stylesheet", href="../datepicker/css/datepicker.css")
  .calendar__body
    input.calendar#calendar(type="text", placeholder="ДД.ММ.ГГГГ", title="Выбирете желаемые даты")
  script(src='jQ.js')
  script(src='../datepicker/js/datepicker.js')
  script(src='/work/calendar.js')