doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title header 
    link(rel="stylesheet", href="HF.css")
  body
    header
      .logo
        img.logopic(src="/file/logo.png", alt="Лого не загрузилось")
        .TOXIN
          p.TOXIC TOXIC
      .navig
        .navig-col
          a.text-navig(href="#")
            p О нас
        .navig-col
          a.text-navig(href="#")
            p Услуги 
          .hdr-arrow
            a(href="#")
        .navig-col    
          a.text-navig(href="#")
            p Вакансии
        .navig-col
          a.text-navig(href="#")
            p Новости
        .navig-col
          a.text-navig(href="#")
            p Соглашение
          .hdr-arrow
            a(href="#")
      .bottom
        .bottom-in
          p.bottom-text Войти
        .bottom-log
          p.bottom-text Зарегистрироваться 
