doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title header 
    link(rel="stylesheet", href="HF.css")
  body
    header
      .logo
        img.logopic(src="/file/logo.png", alt="Лого не загрузилось")
        .TOXIN
          p.TOXIC TOXIC
      .navig
        a.text-navig(href="#")
          p О нас
        a.text-navig(href="#")
          p Услуги
          .hdr-arrow
            a(href="#")
        a.text-navig(href="#")
          p Вакансии
        a.text-navig(href="#")
          p Новости
        a.text-navig(href="#")
          p Соглашение
          .hdr-arrow
            a(href="#")
      .bottom
        .bottom-in
          p.bottom-text Войти
        .bottom-log
          p.bottom-text Зарегистрироваться 
    