header {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  padding: 0px 120px 0px 140px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}
header .navig {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}
header .navig .navig-col {
  box-sizing: border-box;
  display: flex;
  margin: auto;
}
header .navig .navig-col .text-navig {
  display: flex;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  align-items: baseline;
  margin: 0px 10px;
}
header .navig .navig-col .hdr-arrow {
  box-sizing: border-box;
  display: flex;
  align-self: center;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(31, 32, 65, 0.5);
  border-right: 2px solid rgba(31, 32, 65, 0.5);
  margin-bottom: 5px;
  transform: rotate(135deg);
}
header .navig .navig-col .hdr-arrow a {
  display: block;
  width: 20px;
  height: 20px;
  margin: -5px;
}
header .bottom {
  display: flex;
  margin: 18px;
  justify-content: flex-start;
  flex-basis: 20%;
}
header .bottom .bottom-text {
  margin: auto;
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
header .bottom .bottom-in {
  display: flex;
  color: #bc9cff;
  border: 2px solid;
  border-color: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  margin: 0px 10px;
}
header .bottom .bottom-log {
  display: flex;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: white;
  margin: 0px 10px;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .logo .logopic {
  width: 40px;
  height: 40px;
}
header .logo .TOXIC {
  margin: 10px;
  font-size: 20px;
}

footer {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 1px;
}
footer .up-footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
footer .up-footer .col-1 {
  box-sizing: border-box;
  display: flex;
  width: 20%;
  flex-basis: content;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.5);
  margin: 40px 40px 40px 140px;
  align-items: flex-start;
}
footer .up-footer .col-1 .logo {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .up-footer .col-1 .logo .logopic {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
footer .up-footer .col-1 .logo .TOXIC {
  box-sizing: border-box;
  margin: 10px;
  font-size: 20px;
}
footer .up-footer .col {
  box-sizing: border-box;
  display: flex;
  width: 20%;
  flex-basis: content;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.5);
  margin: 40px;
}
footer .up-footer .col h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
}
footer .up-footer .col ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
footer .up-footer .col ul li {
  padding: 10px 0px;
}
footer .up-footer .col ul .Email {
  border: 1px solid rgba(111, 207, 151, 0.25);
  width: 260px;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: rgba(31, 32, 65, 0.25);
  margin-right: 100px;
}
footer .up-footer .col ul a {
  display: block;
  width: 44px;
  height: 44px;
  position: relative;
  top: -22px;
  left: -12px;
}
footer .up-footer .col ul .arrow {
  box-sizing: border-box;
  position: relative;
  top: -22px;
  left: 228px;
  width: 18px;
  height: 2.5px;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
}
footer .up-footer .col ul .arrow:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  top: -4.5px;
  right: -3px;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  transform: rotate(45deg);
}
footer .up-footer .col ul .arrow:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  top: 4.5px;
  right: -3px;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  transform: rotate(-45deg);
}
footer .end-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding: 0px 140px;
}
footer .end-footer .copyright {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.75);
}
footer .end-footer .Social {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
footer .end-footer .Social .s-logo {
  box-sizing: border-box;
  padding: 10px;
}
footer .end-footer .Social .s-logo img {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=HF.css.map */
