$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

header {
    box-sizing: border-box;
    font-family: $shrift;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
    width: 100%;
    padding: 0px 120px 0px 140px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    .navig {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        .text-navig {
            color: rgba($styleDark, 0.5);
            text-decoration: none;
            display: flex;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            align-items: baseline;
            padding: 0px 20px;
            margin: auto;
        }
        .hdr-arrow {
            box-sizing: border-box;
            display: flex;
            width: 10px;
            height: 10px;
            border-top: 2px solid rgba($styleDark, 0.5);
            border-right: 2px solid rgba($styleDark, 0.5);
            margin-left: 5px;
            transform: rotate(135deg);
            a{
                display: block;
                width: 10px;
                height: 10px;
            }
        }
    }
    .bottom {
        display: flex;
        margin: 18px;
        justify-content: flex-start;
        flex-basis: 20%;
        .bottom-text {
            margin: auto;
            padding: 9px 20px;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
        }
        .bottom-in {
            display: flex;
            color: $stylePur;
            border: 2px solid;
            border-color: $grad;
            border-radius: 22px;
            margin: 0px 10px;
        }
        .bottom-log {
            display: flex;
            background: $grad;
            border-radius: 22px;
            color: white;
            margin: 0px 10px;
        }
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .logopic {
            width: 40px;
            height: 40px;
        }
        .TOXIC {
            margin: 10px;
            font-size: 20px;
        }
    }
}

footer {
    box-sizing: border-box;
    font-family: $shrift;
    box-shadow: 0 0 1px;
    .up-footer {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        box-shadow: 0px 1px 0px rgba($styleDark, 0.1);
        .col-1 {
            box-sizing: border-box;
            display: flex;
            width: 20%;
            flex-basis: content;
            align-items: center;
            flex-direction: column;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba($styleDark, 0.5);
            margin: 40px 40px 40px 140px;
            align-items: flex-start;
            .logo {
                box-sizing: border-box;
                padding: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .logopic {
                    box-sizing: border-box;
                    width: 40px;
                    height: 40px;
                }
                .TOXIC {
                    box-sizing: border-box;
                    margin: 10px;
                    font-size: 20px;
                }
            }
        }
        .col {
            box-sizing: border-box;
            display: flex;
            width: 20%;
            flex-basis: content;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba($styleDark, 0.5);
            margin: 40px;
            h2 {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $styleDark;
                text-transform: uppercase;
            }
            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                li {
                    padding: 10px 0px;
                }

                .Email {
                    border: 1px solid rgba($styleGr, 0.25);
                    width: 260px;
                    height: 44px;
                    font-family: $shrift;
                    box-sizing: border-box;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-decoration: rgba($styleDark, 0.25);
                    margin-right: 100px;
                }

                a {
                    display: block;
                    width: 44px;
                    height: 44px;
                    position: relative;
                    top: -22px;
                    left: -12px;
                }

                .arrow {
                    box-sizing: border-box;
                    position: relative;
                    top: -22px;
                    left: 228px;
                    width: 18px;
                    height: 2.5px;
                    background: $grad;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 14px;
                        height: 2px;
                        top: -4.5px;
                        right: -3px;
                        background: $grad;
                        transform: rotate(45deg);
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 14px;
                        height: 2px;
                        top: 4.5px;
                        right: -3px;
                        background: $grad;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .end-footer {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
        border-top: 1px solid rgba($styleDark, 0.25);
        padding: 0px 140px;
        .copyright {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            font-family: $shrift;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba($styleDark, 0.75);
        }
        .Social {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .s-logo {
                box-sizing: border-box;
                padding: 10px;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
