doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Page one 
    link(rel="icon", href="./file/icon.png")
    link(rel="stylesheet", href="Home.css")
  body
    header
        include Header.pug
    .fon
        img(href="./Fon.png")

    footer
        include Footer.pug