link(rel="stylesheet", href="registration.css")
body
  .login__box
    h1.login__subheader Войти
    .login__login
      input.login__email(type="email", placeholder="Email", title="Укажите свою электронную почту")
      input.login__password(type="password", placeholder="Пароль", title="Укажите свой пароль")
    .login__btn
        a.btn__text(href="error.html") Войти
        .btn__arrow
    .login__not
        p.not__text Нет аккаунта на TOXIC?
        a.btn__not(href="registration.html") Создать