@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 75px 0px 0px 0px;
}

.page {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.side-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  z-index: 2;
  left: 0;
  top: 0;
  transition: 0.5s;
  transform: translateX(-100%);
}
.side-menu .menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 195px;
  height: 100em;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.side-menu .menu-list .menu-list__row {
  display: flex;
  flex-direction: column;
}
.side-menu .menu-list .menu-list__row h2.menu-list__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
}
.side-menu .menu-list .menu-list__row input[type=checkbox] {
  display: none;
}
.side-menu .menu-list .menu-list__row input[type=checkbox]:checked + label::before {
  background-image: url(../file/checked.png);
  background-size: 100%;
  border: 1px solid rgba(188, 156, 255, 0.5);
}
.side-menu .menu-list .menu-list__row label {
  padding-left: 10px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.side-menu .menu-list .menu-list__row .menu-list__dostyp-label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.75);
}
.side-menu .menu-list .menu-list__row .menu-list__dostyp-label p {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.side-menu .menu-list .menu-list__row label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  transition: 0.2s;
}
.side-menu .menu-list .menu-list__row .menu-list__cost {
  margin: 0px;
}
.side-menu .menu-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: -40px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  cursor: pointer;
  z-index: 8;
  border-radius: 50%;
}
.side-menu .menu-btn .menu-btn__animation {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background: white;
}
.side-menu .menu-btn .menu-btn__animation::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transform: translateY(5px);
  transition: 0.5s;
}
.side-menu .menu-btn .menu-btn__animation::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transform: translateY(-5px);
  transition: 0.5s;
}
.side-menu .menu-btn .menu-btn__animation_active::before {
  transform: rotate(35deg);
  transform-origin: left;
  width: 10px;
}
.side-menu .menu-btn .menu-btn__animation_active::after {
  transform: rotate(-35deg);
  transform-origin: left;
  width: 10px;
}

.side-menu_active {
  transform: translateX(0%);
}

.nomera {
  box-sizing: border-box;
  margin: 0px 100px;
  transform: translateX(0%);
  transition: 0.5s;
}
.nomera .nomera__header {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.nomera .nomera__table {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.nomera .nomera__table .nomera__hotel {
  box-sizing: border-box;
  width: 270px;
  height: 275px;
  display: inline-block;
  background: white;
  padding: 0px;
  margin: 20px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  transition: 0.5s;
}
.nomera .nomera__table .nomera__hotel .nomera__oblozhka {
  box-sizing: border-box;
  width: 270px;
  height: 150px;
  border-radius: 4px;
}
.nomera .nomera__table .nomera__hotel .nomera__info {
  box-sizing: border-box;
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  z-index: 1;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__type {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  display: block;
  width: 45px;
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__per-day {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0px;
  background: rgba(31, 32, 65, 0.1);
  width: 230px;
  height: 1px;
  margin: 0px;
  z-index: 1;
}
.nomera .nomera__table .nomera__hotel:hover {
  transform: translateY(-25px) scale(105%);
}
.nomera .nomera__table .nomera__otziv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nomera .nomera__table .nomera__otziv .star {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > input.star__point {
  display: none;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label {
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label::before {
  content: "★";
}
.nomera .nomera__table .nomera__otziv .star input.star__point:checked ~ label.star__point-label {
  color: #bc9cff;
  text-shadow: 1px 1px #1f2041;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label:hover, .nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label :hover ~ label.star__point-label {
  color: #bc9cff;
}
.nomera .nomera__table .nomera__otziv .star input.star__point:checked + label.star__point-label:hover,
.nomera .nomera__table .nomera__otziv .star input.star__point:checked + label.star__point-label:hover ~ label.star__point-label,
.nomera .nomera__table .nomera__otziv .star label.star__point-label:hover ~ input.star__point:checked ~ label.star__point-label {
  color: #bc9cff;
  text-shadow: 1px 1px #6fcf97;
}
.nomera .nomera__table .nomera__otziv .star label.star__point-label:active {
  position: relative;
}
.nomera .nomera__table .nomera__otziv .otziv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 10px;
}
.nomera .nomera__table .nomera__otziv .otziv .otziv__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.nomera .nomera__table .nomera__otziv .otziv .otziv__value {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 5px;
}

.nomera_active {
  transform: translateX(160px);
  margin: 0px 85px;
}

/*# sourceMappingURL=page.css.map */
