$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

body {
    box-sizing: border-box;
    margin: 75px 0px 0px 0px;
}
.page {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15%;
    background: white;
    box-shadow: 0px 10px 20px rgba($styleDark, 0.1);
    z-index: 2;
    left: 0;
    top: 0;
    transition: 0.5s;
    transform: translateX(-100%);
    .menu-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100em;
        flex-direction: column;
    }
    .menu-btn {
        display: block;
        position: absolute;
        top: 85px;
        right: -40px;
        width: 30px;
        height: 30px;
        background: $grad;        
        box-shadow: 0px 10px 20px rgba($styleDark, 0.1);
        cursor: pointer;
        z-index: 8;
        border-radius: 50%;
        .menu-btn__animation {
            position: absolute;
            top: 14px;
            left: 5px;
            width: 20px;
            height: 2px;
            border-radius: 5px;
            background: white;
        }
        .menu-btn__animation::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 5px;
            transform: translateY(5px);
            transition: 0.5s;
        }
        .menu-btn__animation::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 5px;
            transform: translateY(-5px);
            transition: 0.5s;
        }
        .menu-btn__animation_active::before {
            transform: rotate(35deg);
            transform-origin: left;
            width: 10px;
        }
        .menu-btn__animation_active::after {
            transform: rotate(-35deg);
            transform-origin: left;
            width: 10px;
        }
    }
}

.side-menu_active {
    transform: translateX(0%);
}
.nomera {
    box-sizing: border-box;
    margin: 0px 100px;
    transform: translateX(0%);
    transition: 0.5s;

    .nomera__header {
        box-sizing: border-box;
        font-family: $shrift;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }
    .nomera__table {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        .nomera__hotel {
            box-sizing: border-box;
            width: 270px;
            height: 275px;
            display: inline-block;
            background: white;
            padding: 0px;
            margin: 20px;
            box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
            border-radius: 4px;
            transition: 0.5s;
            .nomera__oblozhka {
                box-sizing: border-box;
                width: 270px;
                height: 150px;
                border-radius: 4px;
            }
            .nomera__info {
                box-sizing: border-box;
                position: relative;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0px;
                z-index: 1;
                .nomera__name {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0px;
                }
                .nomera__type {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: $stylePur;
                    display: block;
                    width: 45px;
                    margin: 0px;
                }
                .nomera__cost {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
                .nomera__per-day {
                    font-family: $shrift;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
            }
            .nomera__info::after {
                content: "";
                position: absolute;
                left: 20px;
                bottom: 0px;
                background: rgba($styleDark, 0.1);
                width: 230px;
                height: 1px;
                margin: 0px;
                z-index: 1;
            }
        }
        .nomera__hotel:hover{
            transform: translateY(-25px) scale(105%);
            
        }
    }
}
.nomera_active {
    transform: translateX(15%);
    margin: 0px 85px;;
}
