$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

body {
    box-sizing: border-box;
    margin: 75px 0px 0px 0px;
}
.page {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    box-shadow: 0px 10px 20px rgba($styleDark, 0.1);
    z-index: 2;
    left: 0;
    top: 0;
    transition: 0.5s;
    transform: translateX(-100%);
    p {
        font-family: $shrift;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba($styleDark, 0.5);
    }
    .menu-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 195px;
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
        .menu-list__row {
            display: flex;
            flex-direction: column;
            h2.menu-list__header {
                font-family: $shrift;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: $styleDark;
                text-transform: uppercase;
            }

            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"]:checked + label::before {
                background-image: url(../file/checked.png);
                background-size: 100%;
                border: 1px solid rgba($stylePur, 0.5);
            }
            label {
                padding-left: 10px;
                margin: 5px;
                font-family: $shrift;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: rgba($styleDark, 0.5);
            }
            .menu-list__dostyp-label {
                display: block;
                font-family: $shrift;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba($styleDark, 0.75);
                p {
                    font-family: $shrift;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    padding-left: 25px;
                }
            }
            label::before {
                content: "";
                display: inline-block;
                font-size: 12px;
                width: 20px;
                height: 20px;
                background-color: white;
                border: 1px solid rgba($styleDark, 0.25);
                border-radius: 4px;
                box-shadow: 0px 10px 20px rgba($styleDark, 0.1);
                vertical-align: middle;
                margin-left: -10px;
                margin-right: 10px;
                transition: 0.2s;
            }
            .menu-list__cost {
                margin: 0px;
            }
        }
        .gosty {
            position: relative;
            box-sizing: border-box;
            font-family: $shrift;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            text-decoration: rgba($styleDark, 0.25);
            width: 100%;
            border: 1px solid rgba($styleGr, 0.25);
        }
        input.gosty[type="text"] {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 4px;
            position: relative;
            width: 100%;
        }
        .gosty__drop {
            z-index: 2;
            top: 195px;
            box-sizing: border-box;
            position: absolute;
            background: white;
            min-width: 280px;
            display: none;
            flex-direction: column;
            border: 1px solid rgba($styleDark, 0.5);
            border-radius: 4px;
            box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
            font-family: $shrift;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: $styleDark;
            text-transform: uppercase;
            padding: 10px;
            margin: 5px 0px;
            gap: 10px;
            .gosty__close {
                border-radius: 50%;
                background: $grad;
                width: 18px;
                height: 18px;
                text-align: center;
                color: white;
                line-height: 18px;
                margin-left: 100%;
                margin-top: -18px;
                cursor: pointer;
            }
            .gosty__drop-schet {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .schet {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 10px;
            .minus {
                width: 25px;
                height: 25px;
            }
            .itog {
                display: flex;
                width: 12px;
            }
            .plus {
                width: 25px;
                height: 25px;
            }
        }
        .udob {
            position: relative;
            box-sizing: border-box;
            font-family: $shrift;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            text-decoration: rgba($styleDark, 0.25);
            width: 100%;
            border: 1px solid rgba($styleGr, 0.25);
        }
        input.udob[type="text"] {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 4px;
            position: relative;
            width: 100%;
        }
        .udob__drop {
            z-index: 2;
            top: 760px;
            box-sizing: border-box;
            position: absolute;
            background: white;
            min-width: 280px;
            display: none;
            flex-direction: column;
            border: 1px solid rgba($styleDark, 0.5);
            border-radius: 4px;
            box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
            font-family: $shrift;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: $styleDark;
            text-transform: uppercase;
            padding: 10px;
            margin: 5px 0px;
            gap: 10px;
            .udob__close {
                border-radius: 50%;
                background: $grad;
                width: 18px;
                height: 18px;
                text-align: center;
                color: white;
                line-height: 18px;
                margin-left: 100%;
                margin-top: -18px;
                cursor: pointer;
            }
            .udob__drop-schet {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .schet {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 10px;
            .minus {
                width: 25px;
                height: 25px;
            }
            .itog {
                display: flex;
                width: 12px;
            }
            .plus {
                width: 25px;
                height: 25px;
            }
        }
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 15px;
        right: -40px;
        width: 30px;
        height: 30px;
        background: $grad;
        box-shadow: 0px 10px 20px rgba($styleDark, 0.5);
        cursor: pointer;
        z-index: 8;
        border-radius: 50%;
        .menu-btn__animation {
            position: absolute;
            top: 14px;
            left: 5px;
            width: 20px;
            height: 2px;
            border-radius: 5px;
            background: white;
        }
        .menu-btn__animation::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 5px;
            transform: translateY(5px);
            transition: 0.5s;
        }
        .menu-btn__animation::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 5px;
            transform: translateY(-5px);
            transition: 0.5s;
        }
        .menu-btn__animation_active::before {
            transform: rotate(35deg);
            transform-origin: left;
            width: 10px;
        }
        .menu-btn__animation_active::after {
            transform: rotate(-35deg);
            transform-origin: left;
            width: 10px;
        }
    }
}
.side-menu_active {
    transform: translateX(0%);
}

.nomera {
    box-sizing: border-box;
    margin: 0px 100px;
    transform: translateX(0%);
    transition: 0.5s;
    .nomera__header {
        box-sizing: border-box;
        font-family: $shrift;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-shadow: 0 0 10px rgba($styleDark, 0.1);
    }
    .nomera__table {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .nomera__hotel {
            box-sizing: border-box;
            width: 270px;
            height: 275px;
            display: block;
            text-decoration: none;
            background: white;
            padding: 0px;
            margin: 20px;
            box-shadow: 0px 10px 20px rgba($styleDark, 0.1);
            border-radius: 4px;
            transition: 0.25s;
            cursor: pointer;
            .nomera__oblozhka {
                box-sizing: border-box;
                width: 100%;
                height: 150px;
                border-radius: 4px;
            }
            .nomera__info {
                box-sizing: border-box;
                position: relative;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0px;
                z-index: 1;
                .nomera__name {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0px;
                }
                .nomera__type {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: $stylePur;
                    display: block;
                    width: 45px;
                    margin: 0px;
                }
                .nomera__cost {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
                .nomera__per-day {
                    font-family: $shrift;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
            }
            .nomera__info::after {
                content: "";
                position: absolute;
                left: 20px;
                bottom: 0px;
                background: rgba($styleDark, 0.1);
                width: 230px;
                height: 1px;
                margin: 0px;
                z-index: 1;
            }
        }
        .nomera__hotel:hover {
            transform: translateY(-25px) scale(105%);
            box-shadow: 0px 10px 20px rgba($styleDark, 0.5), 0px 10px 20px rgba($styleDark, 0.5);
        }
        .nomera__otziv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .star {
                overflow: hidden;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: baseline;
                margin: 10px;
                &:not(:checked) > input.star__point {
                    display: none;
                }
                &:not(:checked) > label.star__point-label {
                    cursor: pointer;
                    font-size: 32px;
                    line-height: 32px;
                    color: lightgrey;
                    text-shadow: 1px 1px #bbb;
                }
                &:not(:checked) > label.star__point-label::before {
                    content: "★";
                }
                input.star__point:checked ~ label.star__point-label {
                    color: $stylePur;
                    text-shadow: 1px 1px $styleDark;
                }
                &:not(:checked) > label.star__point-label:hover,
                &:not(:checked) > label.star__point-label :hover ~ label.star__point-label {
                    color: $stylePur;
                }
                input.star__point:checked + label.star__point-label:hover,
                input.star__point:checked + label.star__point-label:hover ~ label.star__point-label,
                label.star__point-label:hover ~ input.star__point:checked ~ label.star__point-label {
                    color: $stylePur;
                    text-shadow: 1px 1px $styleGr;
                }
                label.star__point-label:active {
                    position: relative;
                }
            }
            .otziv {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0px 10px;
                .otziv__text {
                    font-family: $shrift;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                }
                .otziv__value {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin-left: 5px;
                }
            }
        }
    }
}

.oblozhka__slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    position: relative;
    .oblozhka__slider1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 33.333%;
        height: 100%;
    }
    .oblozhka__slider2 {
        position: absolute;
        top: 0px;
        left: 33.333%;
        width: 33.333%;
        height: 100%;
    }
    .oblozhka__slider3 {
        position: absolute;
        top: 0px;
        left: 66.666%;
        width: 33.333%;
        height: 100%;
    }
    .oblozhka1,
    .oblozhka2,
    .oblozhka3 {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 300%;
        height: 150px;
        border-radius: 4px;
        visibility: visible;
        pointer-events: none;
    }
    .oblozhka2 {
        left: -100%;
        visibility: hidden;
    }
    .oblozhka3 {
        left: -200%;
        visibility: hidden;
    }
    .oblozhka__pointer {
        position: absolute;
        top: 129px;
        left: 82%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .oblozhka__pointer1,
        .oblozhka__pointer2,
        .oblozhka__pointer3 {
            width: 7.5px;
            height: 7.5px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            box-shadow: 0px 5px 5px 0px #1f20414d;
            background: none;
        }
        .oblozhka__pointer1{
            background: white; 
        }
    }
    .oblozhka__slider1:hover,
    .oblozhka__slider2:hover,
    .oblozhka__slider3:hover {
        .oblozhka1,
        .oblozhka2,
        .oblozhka3 {
            visibility: visible;
        }
    }
    
}

.nomera_active {
    transform: translateX(160px);
    margin: 0px 85px;
}
.page__number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    transform: translateX(0%);
    transition: 0.5s;
    .page__number-point {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        font-family: $shrift;
        font-weight: 700;
        font-size: 12px;
        line-height: 40px;
        text-decoration: none;
        color: rgba($styleDark, 0.5);
        border-radius: 50%;
        margin: 5px;
        transition: 0.25s;
    }
    .page__number-point:hover {
        background: $styleGr;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba($styleDark, 0.5);
    }
    .page__number-point_active {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        font-family: $shrift;
        font-weight: 700;
        font-size: 12px;
        line-height: 40px;
        text-decoration: none;
        border-radius: 50%;
        background: $grad;
        box-shadow: 0 0 10px rgba($styleDark, 0.5);
        color: white;
        margin: 5px;
    }
    .page__number-arrow {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $styleGr;
        box-shadow: 0 0 10px rgba($styleDark, 0.5);
        margin: 5px;
        transition: 0.25s;
        .page__number-arrow-left::after,
        .page__number-arrow-left::before,
        .page__number-arrow-right::after,
        .page__number-arrow-right::before {
            content: "";
            position: absolute;
            display: block;
            top: 17.5px;
            left: 10px;
            width: 20px;
            height: 5px;
            background: white;
            border-radius: 4px;
        }
        .page__number-arrow-left::before {
            transform-origin: left;
            transform: rotate(45deg) translateY(-2px);
        }
        .page__number-arrow-left::after {
            transform-origin: left;
            transform: rotate(-45deg) translateY(2px);
        }
        .page__number-arrow-right::before {
            transform-origin: right;
            transform: rotate(45deg) translateY(2px);
        }
        .page__number-arrow-right::after {
            transform-origin: right;
            transform: rotate(-45deg) translateY(-2px);
        }
    }
    .page__number-arrow:hover {
        transform: scale(115%);
    }
}

.page__number_active {
    transform: translateX(160px);
}
