doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Hotels
    link(rel="icon", href="../file/icon.png", type="image/x-icon")
    link(rel="stylesheet", href="Page.css")
    link(rel="stylesheet", href="/work/slider.css")
    link(rel="stylesheet", href="/slider/nouislider.min.css")

  body
    header
      include Header.pug
    .page 
      .side-menu
        .menu-btn
          .menu-btn__animation 
        .menu-list
          .menu-list__row
            h2.menu-list__header Даты прибывания в отеле
            input(type="text")
          .menu-list__row
            h2.menu-list__header Гости
            input(type="text")
          .menu-list__row
            .cost-slider
              .cost-slider__text
                h2.menu-list__header Диапозон цены
                .cost-slider__range
                  .cost-slider__input
                    input.cost-slider__input#slider0(type="number" placeholder="0")
                  .cost-slider__p -
                  .cost-slider__input
                    input.cost-slider__input#slider1(type="number" placeholder="15 000")
              .cost-slider__slider
              p Стоимость за сутки пребывания в номере
          .menu-list__row
            h2.menu-list__header Правила дома
            input.menu-list__pravila#smoke(type="checkbox", name="pravila") 
            label.menu-list__pravila-label(for="smoke") Можно курить
            input.menu-list__pravila#pet(type="checkbox", name="pravila") 
            label.menu-list__pravila-label(for="pet") Можно с питомцами
            input.menu-list__pravila#visiter(type="checkbox", name="pravila") 
            label.menu-list__pravila-label(for="visiter") Можно пригласить гостей (до 10 человек)
          .menu-list__row
            h2.menu-list__header Доступность
            input.menu-list__dostyp#hallway(type="checkbox", name="dostyp") 
            label.menu-list__dostyp-label(for="hallway") Широкий коридор
              p Ширина коридоров в номере <br>не менее 91 см.
            input.menu-list__dostyp#helper(type="checkbox", name="dostyp") 
            label.menu-list__dostyp-label(for="helper")  Помощник для инвалидов
              p На 1 этаже вас встретит специалист <br>и проводит до номера.
          .menu-list__row
            h2.menu-list__header Удобства номера
            input(type="text")
          .menu-list__row
            h2.menu-list__header Дополнительные удобства
            input.menu-list__dop#breakfast(type="checkbox", name="dop") 
            label.menu-list__dop-label(for="breakfast") Завтрак
            input.menu-list__dop#table(type="checkbox", name="dop") 
            label.menu-list__dop-label(for="table") Письманный стол
            input.menu-list__dop#chair(type="checkbox", name="dop") 
            label.menu-list__dop-label(for="chair") Стул для кормления
            input.menu-list__dop#bed(type="checkbox", name="dop") 
            label.menu-list__dop-label(for="bed") Кроватка
            input.menu-list__dop#TV(type="checkbox", name="dop") 
            label.menu-list__dop-label(for="TV") Телевизор
            input.menu-list__dop#shampoo(type="checkbox", name="dop")
            label.menu-list__dop-label(for="shampoo")  Шампунь
      .nomera
        h1.nomera__header Номера, которые мы для вас подобрали
        .nomera__table
          a.nomera__hotel(href="./room.html", target="blank")
            img.nomera__oblozhka(src="https://cdn1.ozone.ru/s3/hotels-widget-api/1848484048000/2349664834000/wc1000/12248086_1659905764285865_391157404186974832_o.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 980
              p.nomera__type люкс
              p.nomera__cost 8 500₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-888(type="radio" name="star№888" value="5")
                label.star__point-label(for="star-5-888" title="Оценка 5")
                input.star__point#star-4-888(type="radio" name="star№888" value="4")
                label.star__point-label(for="star-4-888" title="Оценка 4")
                input.star__point#star-3-888(type="radio" name="star№888" value="3")
                label.star__point-label(for="star-3-888" title="Оценка 3")
                input.star__point#star-2-888(type="radio" name="star№888" value="2")
                label.star__point-label(for="star-2-888" title="Оценка 2")
                input.star__point#star-1-888(type="radio" name="star№888" value="1")
                label.star__point-label(for="star-1-888" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 100
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 856
              p.nomera__type 
              p.nomera__cost 7 300₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-856(type="radio" name="star№856" value="5")
                label.star__point-label(for="star-5-856" title="Оценка 5")
                input.star__point#star-4-856(type="radio" name="star№856" value="4")
                label.star__point-label(for="star-4-856" title="Оценка 4")
                input.star__point#star-3-856(type="radio" name="star№856" value="3")
                label.star__point-label(for="star-3-856" title="Оценка 3")
                input.star__point#star-2-856(type="radio" name="star№856" value="2")
                label.star__point-label(for="star-2-856" title="Оценка 2")
                input.star__point#star-1-856(type="radio" name="star№856" value="1")
                label.star__point-label(for="star-1-856" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 19
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/262816951.webp?k=67a4318b56706b99c1bf08eadfa08a4cc7604ef70da88a9bfc790f76837c52b5&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 678
              p.nomera__type 
              p.nomera__cost 5 500₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-678(type="radio" name="star№678" value="5")
                label.star__point-label(for="star-5-678" title="Оценка 5")
                input.star__point#star-4-678(type="radio" name="star№678" value="4")
                label.star__point-label(for="star-4-678" title="Оценка 4")
                input.star__point#star-3-678(type="radio" name="star№678" value="3")
                label.star__point-label(for="star-3-678" title="Оценка 3")
                input.star__point#star-2-678(type="radio" name="star№678" value="2")
                label.star__point-label(for="star-2-678" title="Оценка 2")
                input.star__point#star-1-678(type="radio" name="star№678" value="1")
                label.star__point-label(for="star-1-678" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 21
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/314238756.webp?k=c20c170cfaf623c226479d99b0f4852bd785a816fdc18cc5ad6646c78ff06560&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 666
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-666(type="radio" name="star№666" value="5")
                label.star__point-label(for="star-5-666" title="Оценка 5")
                input.star__point#star-4-666(type="radio" name="star№666" value="4")
                label.star__point-label(for="star-4-666" title="Оценка 4")
                input.star__point#star-3-666(type="radio" name="star№666" value="3")
                label.star__point-label(for="star-3-666" title="Оценка 3")
                input.star__point#star-2-666(type="radio" name="star№666" value="2")
                label.star__point-label(for="star-2-666" title="Оценка 2")
                input.star__point#star-1-666(type="radio" name="star№666" value="1")
                label.star__point-label(for="star-1-666" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 543
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/347605822.webp?k=c5fe7dd942fd0117b72f4c0e353e67c761b2d7182aaca7a8c955b5379a753865&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 840
              p.nomera__type 
              p.nomera__cost 9 900₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-840(type="radio" name="star№840" value="5")
                label.star__point-label(for="star-5-840" title="Оценка 5")
                input.star__point#star-4-840(type="radio" name="star№840" value="4")
                label.star__point-label(for="star-4-840" title="Оценка 4")
                input.star__point#star-3-840(type="radio" name="star№840" value="3")
                label.star__point-label(for="star-3-840" title="Оценка 3")
                input.star__point#star-2-840(type="radio" name="star№840" value="2")
                label.star__point-label(for="star-2-840" title="Оценка 2")
                input.star__point#star-1-840(type="radio" name="star№840" value="1")
                label.star__point-label(for="star-1-840" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 25
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/109951291.webp?k=16cf79613aae3d4e30e7b628f97ae8f34fbffe311a270a47591064892f54bc10&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 740
              p.nomera__type 
              p.nomera__cost 6 000₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-740(type="radio" name="star№740" value="5")
                label.star__point-label(for="star-5-740" title="Оценка 5")
                input.star__point#star-4-740(type="radio" name="star№740" value="4")
                label.star__point-label(for="star-4-740" title="Оценка 4")
                input.star__point#star-3-740(type="radio" name="star№740" value="3")
                label.star__point-label(for="star-3-740" title="Оценка 3")
                input.star__point#star-2-740(type="radio" name="star№678" value="2")
                label.star__point-label(for="star-2-740" title="Оценка 2")
                input.star__point#star-1-740(type="radio" name="star№740" value="1")
                label.star__point-label(for="star-1-740" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 2
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/179442057.webp?k=69dccb189154472e8d43d6abcc93beac9d7ee5dee9d41815b18044a6db8de9e4&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 450
              p.nomera__type 
              p.nomera__cost 5 300₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-450(type="radio" name="star№450" value="5")
                label.star__point-label(for="star-5-450" title="Оценка 5")
                input.star__point#star-4-450(type="radio" name="star№450" value="4")
                label.star__point-label(for="star-4-450" title="Оценка 4")
                input.star__point#star-3-450(type="radio" name="star№450" value="3")
                label.star__point-label(for="star-3-450" title="Оценка 3")
                input.star__point#star-2-450(type="radio" name="star№450" value="2")
                label.star__point-label(for="star-2-450" title="Оценка 2")
                input.star__point#star-1-450(type="radio" name="star№450" value="1")
                label.star__point-label(for="star-1-450" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 34
          .nomera__hotel
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/232802018.webp?k=84aee5f061290dcd754891610fe3d03971e052620bc41d76237ed7b3cf350bfe&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 444
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-444(type="radio" name="star№444" value="5")
                label.star__point-label(for="star-5-444" title="Оценка 5")
                input.star__point#star-4-444(type="radio" name="star№444" value="4")
                label.star__point-label(for="star-4-444" title="Оценка 4")
                input.star__point#star-3-444(type="radio" name="star№444" value="3")
                label.star__point-label(for="star-3-444" title="Оценка 3")
                input.star__point#star-2-444(type="radio" name="star№444" value="2")
                label.star__point-label(for="star-2-444" title="Оценка 2")
                input.star__point#star-1-444(type="radio" name="star№444" value="1")
                label.star__point-label(for="star-1-444" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 256
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/335325661.webp?k=2f8a72c9cc16350bb7f0a88d63215e9e34f3b51be4aee60163a130da6e0b8edc&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 980
              p.nomera__type люкс
              p.nomera__cost 8 500₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-980(type="radio" name="star№980" value="5")
                label.star__point-label(for="star-5-980" title="Оценка 5")
                input.star__point#star-4-980(type="radio" name="star№980" value="4")
                label.star__point-label(for="star-4-980" title="Оценка 4")
                input.star__point#star-3-980(type="radio" name="star№980" value="3")
                label.star__point-label(for="star-3-980" title="Оценка 3")
                input.star__point#star-2-980(type="radio" name="star№980" value="2")
                label.star__point-label(for="star-2-980" title="Оценка 2")
                input.star__point#star-1-980(type="radio" name="star№980" value="1")
                label.star__point-label(for="star-1-980" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 53
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/252335333.webp?k=7d54faf2fe07a2c168103f1ce987c86560dbc154fe27fde7f55c875f98d4fb6f&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 982
              p.nomera__type 
              p.nomera__cost 5 800₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-982(type="radio" name="star№982" value="5")
                label.star__point-label(for="star-5-982" title="Оценка 5")
                input.star__point#star-4-982(type="radio" name="star№982" value="4")
                label.star__point-label(for="star-4-982" title="Оценка 4")
                input.star__point#star-3-982(type="radio" name="star№982" value="3")
                label.star__point-label(for="star-3-982" title="Оценка 3")
                input.star__point#star-2-982(type="radio" name="star№982" value="2")
                label.star__point-label(for="star-2-982" title="Оценка 2")
                input.star__point#star-1-982(type="radio" name="star№982" value="1")
                label.star__point-label(for="star-1-982" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 435
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://t-cf.bstatic.com/xdata/images/hotel/square200/337244298.webp?k=9f4ae108cf37998317360003a6850e583a89a5a459d7e78d679c7cd395adc94f&o=", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 350
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-350(type="radio" name="star№350" value="5")
                label.star__point-label(for="star-5-350" title="Оценка 5")
                input.star__point#star-4-350(type="radio" name="star№350" value="4")
                label.star__point-label(for="star-4-350" title="Оценка 4")
                input.star__point#star-3-350(type="radio" name="star№350" value="3")
                label.star__point-label(for="star-3-350" title="Оценка 3")
                input.star__point#star-2-350(type="radio" name="star№350" value="2")
                label.star__point-label(for="star-2-350" title="Оценка 2")
                input.star__point#star-1-350(type="radio" name="star№350" value="1")
                label.star__point-label(for="star-1-350" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 12
          a.nomera__hotel(href="./error.html", target="blank")
            img.nomera__oblozhka(src="https://avatars.mds.yandex.net/get-altay/4454943/2a00000181ce66ebc0905f6bc209431169a7/XXXL", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 352
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .nomera__otziv
              .star
                input.star__point#star-5-352(type="radio" name="star№352" value="5")
                label.star__point-label(for="star-5-352" title="Оценка 5")
                input.star__point#star-4-352(type="radio" name="star№352" value="4")
                label.star__point-label(for="star-4-352" title="Оценка 4")
                input.star__point#star-3-352(type="radio" name="star№352" value="3")
                label.star__point-label(for="star-3-352" title="Оценка 3")
                input.star__point#star-2-352(type="radio" name="star№352" value="2")
                label.star__point-label(for="star-2-352" title="Оценка 2")
                input.star__point#star-1-352(type="radio" name="star№352" value="1")
                label.star__point-label(for="star-1-352" title="Оценка 1")
              .otziv
                p.otziv__text Отзывов:
                p.otziv__value 159
      .page__number
        a.page__number-arrow(href="error.html")
          .page__number-arrow-left
        a.page__number-point_active(href="error.html") 1
        a.page__number-point(href="error.html") 2
        a.page__number-point(href="error.html") 3
        a.page__number-point(href="error.html") 4
        a.page__number-point(href="error.html") ...
        a.page__number-point(href="error.html") 11
        a.page__number-arrow(href="error.html")
          .page__number-arrow-right
    script(src="side-menu.js")
    script(src="/slider/nouislider.min.js")
    script(src="/work/slider.js")
    footer
      include Footer.pug