$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

body {
    box-sizing: border-box;
    margin: 73px 0px 0px 0px;
}
.side {
    background: red;
    width: 30%;
    height: 1385px;
    display: flex;
}
h1 {
    box-sizing: border-box;
    font-family: $shrift;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.nomera {
    box-sizing: border-box;
    width: 70%;
    height: 1385px;
    float: right;
    display: flex;
    flex-direction: column;
    .moz {box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        .hotel {
            box-sizing: border-box;
            width: 270px;
            height: 275px;
            display: inline-block;
            background: white;
            padding: 0px;
            margin: 20px 6px;
            box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
            border-radius: 4px;
            .pict {
                box-sizing: border-box;
                width: 270px;
                height: 150px;
                border-radius: 4px;
            }
            .info {
                box-sizing: border-box;
                position: relative;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0px;
                .pn {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0px;
                }
                .type {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: $stylePur;
                    display: block;
                    width: 45px;
                    margin: 0px;
                }
                .value {
                    font-family: $shrift;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
                .per {
                    font-family: $shrift;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba($styleDark, 0.5);
                    margin: 0px;
                }
            }
            .info::after {
                content: "";
                position: absolute;
                left: 20px;
                bottom: 0px;
                background: rgba($styleDark, 0.1);
                width: 230px;
                height: 1px;
                margin: 0px;
            }
        }
    }
}
