doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Hotels
    link(rel="icon", href="../file/icon.png", type="image/x-icon")
    link(rel="stylesheet", href="Page.css")
    script(src="hotel.js")
  body
    header
      include Header.pug
    .page
      .side-menu
        .menu-list
          p Даты пребывания в отеле
          p Гости
          p Цена
          p Правила
          p Доступность
          p Удобства
          p Доп
      .nomera
        h1.nomera__header Номера, которые мы для вас подобрали
        .nomera__table
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 888
              p.nomera__type люкс
              p.nomera__cost 9 990₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 856
              p.nomera__type 
              p.nomera__cost 7 300₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 678
              p.nomera__type 
              p.nomera__cost 5 500₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 666
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 840
              p.nomera__type 
              p.nomera__cost 9 900₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 740
              p.nomera__type 
              p.nomera__cost 6 000₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 450
              p.nomera__type 
              p.nomera__cost 5 300₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 444
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 980
              p.nomera__type люкс
              p.nomera__cost 8 500₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 982
              p.nomera__type 
              p.nomera__cost 5 800₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 350
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .star
          .nomera__hotel
            img.nomera__oblozhka(src="https://s.101hotelscdn.ru/uploads/image/hotel_image/10846/768300_preview.jpg", alt="Обложки нет")
            .nomera__info
              p.nomera__name № 352
              p.nomera__type 
              p.nomera__cost 5 000₽
              p.nomera__per-day в сутки
            .star
    footer
      include Footer.pug