@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 75px 0px 0px 0px;
}

.page {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  z-index: 2;
  left: 0;
  top: 0;
  transition: 0.5s;
  transform: translateX(-100%);
}
.side-menu p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.side-menu .menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 195px;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.side-menu .menu-list .menu-list__row {
  display: flex;
  flex-direction: column;
}
.side-menu .menu-list .menu-list__row h2.menu-list__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
}
.side-menu .menu-list .menu-list__row input[type=checkbox] {
  display: none;
}
.side-menu .menu-list .menu-list__row input[type=checkbox]:checked + label::before {
  background-image: url(../file/checked.png);
  background-size: 100%;
  border: 1px solid rgba(188, 156, 255, 0.5);
}
.side-menu .menu-list .menu-list__row label {
  padding-left: 10px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.side-menu .menu-list .menu-list__row .menu-list__dostyp-label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.75);
}
.side-menu .menu-list .menu-list__row .menu-list__dostyp-label p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 25px;
}
.side-menu .menu-list .menu-list__row label::before {
  content: "";
  display: inline-block;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  transition: 0.2s;
}
.side-menu .menu-list .menu-list__row .menu-list__cost {
  margin: 0px;
}
.side-menu .menu-list .gosty {
  position: relative;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: rgba(31, 32, 65, 0.25);
  width: 100%;
  border: 1px solid rgba(111, 207, 151, 0.25);
}
.side-menu .menu-list input.gosty[type=text] {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  width: 100%;
}
.side-menu .menu-list .gosty__drop {
  z-index: 2;
  top: 195px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  min-width: 280px;
  display: none;
  flex-direction: column;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px 0px;
  gap: 10px;
}
.side-menu .menu-list .gosty__drop .gosty__close {
  border-radius: 50%;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  line-height: 18px;
  margin-left: 100%;
  margin-top: -18px;
  cursor: pointer;
}
.side-menu .menu-list .gosty__drop .gosty__drop-schet {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu .menu-list .schet {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}
.side-menu .menu-list .schet .minus {
  width: 25px;
  height: 25px;
}
.side-menu .menu-list .schet .itog {
  display: flex;
  width: 12px;
}
.side-menu .menu-list .schet .plus {
  width: 25px;
  height: 25px;
}
.side-menu .menu-list .udob {
  position: relative;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: rgba(31, 32, 65, 0.25);
  width: 100%;
  border: 1px solid rgba(111, 207, 151, 0.25);
}
.side-menu .menu-list input.udob[type=text] {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  width: 100%;
}
.side-menu .menu-list .udob__drop {
  z-index: 2;
  top: 760px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  min-width: 280px;
  display: none;
  flex-direction: column;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px 0px;
  gap: 10px;
}
.side-menu .menu-list .udob__drop .udob__close {
  border-radius: 50%;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  line-height: 18px;
  margin-left: 100%;
  margin-top: -18px;
  cursor: pointer;
}
.side-menu .menu-list .udob__drop .udob__drop-schet {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu .menu-list .schet {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}
.side-menu .menu-list .schet .minus {
  width: 25px;
  height: 25px;
}
.side-menu .menu-list .schet .itog {
  display: flex;
  width: 12px;
}
.side-menu .menu-list .schet .plus {
  width: 25px;
  height: 25px;
}
.side-menu .menu-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: -40px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.5);
  cursor: pointer;
  z-index: 8;
  border-radius: 50%;
}
.side-menu .menu-btn .menu-btn__animation {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background: white;
}
.side-menu .menu-btn .menu-btn__animation::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transform: translateY(5px);
  transition: 0.5s;
}
.side-menu .menu-btn .menu-btn__animation::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transform: translateY(-5px);
  transition: 0.5s;
}
.side-menu .menu-btn .menu-btn__animation_active::before {
  transform: rotate(35deg);
  transform-origin: left;
  width: 10px;
}
.side-menu .menu-btn .menu-btn__animation_active::after {
  transform: rotate(-35deg);
  transform-origin: left;
  width: 10px;
}

.side-menu_active {
  transform: translateX(0%);
}

.nomera {
  box-sizing: border-box;
  margin: 0px 100px;
  transform: translateX(0%);
  transition: 0.5s;
}
.nomera .nomera__header {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-shadow: 0 0 10px rgba(31, 32, 65, 0.1);
}
.nomera .nomera__table {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.nomera .nomera__table .nomera__hotel {
  box-sizing: border-box;
  width: 270px;
  height: 275px;
  display: block;
  text-decoration: none;
  background: white;
  padding: 0px;
  margin: 20px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
}
.nomera .nomera__table .nomera__hotel .nomera__oblozhka {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border-radius: 4px;
}
.nomera .nomera__table .nomera__hotel .nomera__info {
  box-sizing: border-box;
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  z-index: 1;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__type {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  display: block;
  width: 45px;
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info .nomera__per-day {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin: 0px;
}
.nomera .nomera__table .nomera__hotel .nomera__info::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0px;
  background: rgba(31, 32, 65, 0.1);
  width: 230px;
  height: 1px;
  margin: 0px;
  z-index: 1;
}
.nomera .nomera__table .nomera__hotel:hover {
  transform: translateY(-25px) scale(105%);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.5), 0px 10px 20px rgba(31, 32, 65, 0.5);
}
.nomera .nomera__table .nomera__otziv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nomera .nomera__table .nomera__otziv .star {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > input.star__point {
  display: none;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label {
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label::before {
  content: "★";
}
.nomera .nomera__table .nomera__otziv .star input.star__point:checked ~ label.star__point-label {
  color: #bc9cff;
  text-shadow: 1px 1px #1f2041;
}
.nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label:hover, .nomera .nomera__table .nomera__otziv .star:not(:checked) > label.star__point-label :hover ~ label.star__point-label {
  color: #bc9cff;
}
.nomera .nomera__table .nomera__otziv .star input.star__point:checked + label.star__point-label:hover,
.nomera .nomera__table .nomera__otziv .star input.star__point:checked + label.star__point-label:hover ~ label.star__point-label,
.nomera .nomera__table .nomera__otziv .star label.star__point-label:hover ~ input.star__point:checked ~ label.star__point-label {
  color: #bc9cff;
  text-shadow: 1px 1px #6fcf97;
}
.nomera .nomera__table .nomera__otziv .star label.star__point-label:active {
  position: relative;
}
.nomera .nomera__table .nomera__otziv .otziv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 10px;
}
.nomera .nomera__table .nomera__otziv .otziv .otziv__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.nomera .nomera__table .nomera__otziv .otziv .otziv__value {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 5px;
}

.oblozhka__slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  position: relative;
}
.oblozhka__slider .oblozhka__slider1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 33.333%;
  height: 100%;
}
.oblozhka__slider .oblozhka__slider2 {
  position: absolute;
  top: 0px;
  left: 33.333%;
  width: 33.333%;
  height: 100%;
}
.oblozhka__slider .oblozhka__slider3 {
  position: absolute;
  top: 0px;
  left: 66.666%;
  width: 33.333%;
  height: 100%;
}
.oblozhka__slider .oblozhka1,
.oblozhka__slider .oblozhka2,
.oblozhka__slider .oblozhka3 {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 300%;
  height: 150px;
  border-radius: 4px;
  visibility: visible;
  pointer-events: none;
}
.oblozhka__slider .oblozhka2 {
  left: -100%;
  visibility: hidden;
}
.oblozhka__slider .oblozhka3 {
  left: -200%;
  visibility: hidden;
}
.oblozhka__slider .oblozhka__pointer {
  position: absolute;
  top: 129px;
  left: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.oblozhka__slider .oblozhka__pointer .oblozhka__pointer1,
.oblozhka__slider .oblozhka__pointer .oblozhka__pointer2,
.oblozhka__slider .oblozhka__pointer .oblozhka__pointer3 {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(31, 32, 65, 0.3019607843);
  background: none;
}
.oblozhka__slider .oblozhka__pointer .oblozhka__pointer1 {
  background: white;
}
.oblozhka__slider .oblozhka__slider1:hover .oblozhka1,
.oblozhka__slider .oblozhka__slider1:hover .oblozhka2,
.oblozhka__slider .oblozhka__slider1:hover .oblozhka3,
.oblozhka__slider .oblozhka__slider2:hover .oblozhka1,
.oblozhka__slider .oblozhka__slider2:hover .oblozhka2,
.oblozhka__slider .oblozhka__slider2:hover .oblozhka3,
.oblozhka__slider .oblozhka__slider3:hover .oblozhka1,
.oblozhka__slider .oblozhka__slider3:hover .oblozhka2,
.oblozhka__slider .oblozhka__slider3:hover .oblozhka3 {
  visibility: visible;
}

.nomera_active {
  transform: translateX(160px);
  margin: 0px 85px;
}

.page__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  transform: translateX(0%);
  transition: 0.5s;
}
.page__number .page__number-point {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  margin: 5px;
  transition: 0.25s;
}
.page__number .page__number-point:hover {
  background: #6fcf97;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(31, 32, 65, 0.5);
}
.page__number .page__number-point_active {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 50%;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  box-shadow: 0 0 10px rgba(31, 32, 65, 0.5);
  color: white;
  margin: 5px;
}
.page__number .page__number-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6fcf97;
  box-shadow: 0 0 10px rgba(31, 32, 65, 0.5);
  margin: 5px;
  transition: 0.25s;
}
.page__number .page__number-arrow .page__number-arrow-left::after,
.page__number .page__number-arrow .page__number-arrow-left::before,
.page__number .page__number-arrow .page__number-arrow-right::after,
.page__number .page__number-arrow .page__number-arrow-right::before {
  content: "";
  position: absolute;
  display: block;
  top: 17.5px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: white;
  border-radius: 4px;
}
.page__number .page__number-arrow .page__number-arrow-left::before {
  transform-origin: left;
  transform: rotate(45deg) translateY(-2px);
}
.page__number .page__number-arrow .page__number-arrow-left::after {
  transform-origin: left;
  transform: rotate(-45deg) translateY(2px);
}
.page__number .page__number-arrow .page__number-arrow-right::before {
  transform-origin: right;
  transform: rotate(45deg) translateY(2px);
}
.page__number .page__number-arrow .page__number-arrow-right::after {
  transform-origin: right;
  transform: rotate(-45deg) translateY(-2px);
}
.page__number .page__number-arrow:hover {
  transform: scale(115%);
}

.page__number_active {
  transform: translateX(160px);
}

/*# sourceMappingURL=page.css.map */
