$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

.reg {
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 383px;
    padding: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    h1 {
        font-family: $shrift;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .date {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .prib {
            margin-right: 20px;
        }
    }
    h2 {
        font-family: $shrift;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: $styleDark;
        text-transform: uppercase;
        margin: 21px 0px 6px 0px;
    }
    .date-reg {
        box-sizing: border-box;
        width: 150px;
        height: 44px;
        padding: 10px;
        font-family: $shrift;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: rgba($styleDark, 0.75);
        border: 1px solid rgba($styleGr, 0.25);
        border-radius: 4px;
    }
    .gosty {
        position: relative;
        box-sizing: border-box;
        font-family: $shrift;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: rgba($styleDark, 0.25);
        width: 100%;
        border: 1px solid rgba($styleGr, 0.25);
    }
    .bottom-reg {
        display: flex;
        background: $grad;
        border-radius: 22px;
        color: white;
        margin: 30px 0px;
        width: 100%;
        p {
            font-family: $shrift;
            margin: auto;
            padding: 9px 20px;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
        }
    }
}
input.date-reg[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(/file/calendar.png);
    width: 20px;
    height: 20px;
    margin: 0px;
}

input.gosty[type="text"] {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
}
.drop-gosty {
    box-sizing: border-box;
    position: absolute;
    background: white;
    width: 318px;
    display: none;
    flex-direction: column;
    border: 1px solid rgba($styleDark, 0.5);
    box-shadow: 0px 10px 20px rgba($styleDark, 0.05);
    font-family: $shrift;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $styleDark;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px 0px;
    z-index: 1;
    .drop-gosty-schet {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0px;
        h2{
        margin: 0px;}
    }
}
.schet {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .minus {
        width: 30px;
        height: 30px;
        margin: 0px 16px;
        padding: 0px;
    }
    .itog{
        display: flex;
        width: 12px;

    }
    .plus {
        width: 30px;
        height: 30px;
        margin: 0px 16px;
        padding: 0px;
    }
}
