link(rel="stylesheet", href="reg-box.css")


.reg
  .reg__col
    h1 Найдём номера под <br> ваши пожелания
  .reg__date
    .reg__prib
      h2.reg__text Прибытие
      input.reg__date-input(type="date", placeholder="ДД.ММ.ГГГГ", title="Выбирете желаемую дату прибытия")
    .vyezd
      h2.reg__text Выезд
      input.reg__date-input(type="date", placeholder="ДД.ММ.ГГГГ", title="Выбирете желаемую дату выезда")
  .reg__col
    h2.reg__text Гости
    input.gosty(type="text", placeholder="Гости", title="Сколько планируется гостей?")
    .gosty__drop
      .gosty__drop-schet 
        h2.reg__text Взрослые от 18 лет
        .schet
          img.minus#mvzr(src="/file/minus.png" alt='Нет минуса')
          h2.itog#vzr 0
          img.plus#pvzr(src="/file/plus.png" alt='Нет плюса')
      .gosty__drop-schet
        h2.reg__text Дети до 17 лет
        .schet
          img.minus#mdety(src="/file/minus.png" alt='Нет минуса')
          h2.itog#dety 0
          img.plus#pdety(src="/file/plus.png" alt='Нет плюса')
      .gosty__drop-schet
        h2.reg__text Младенцы до 1 года
        .schet
          img.minus#mbaby(src="/file/minus.png" alt='Нет минуса')
          h2.itog#baby 0
          img.plus#pbaby(src="/file/plus.png" alt='Нет плюса')
  a.bottom-reg(href="/work/page.html", target='_blank')
    p Подобрать номер
script(src="drop.js")