link(rel="stylesheet", href="reg-box.css")
script 
  include drop.js
  

.reg
  .col-reg
    h1.test Найдём номера под <br> ваши пожелания
  .date
    .prib
      h2 Прибытие
      input.date-reg(type="date", placeholder="ДД.ММ.ГГГГ", title="Выбирете желаемую дату прибытия")
    .vyezd
      h2 Выезд
      input.date-reg(type="date", placeholder="ДД.ММ.ГГГГ", title="Выбирете желаемую дату выезда")
  .col-reg
    h2 Гости
    input.gosty(type="text", placeholder="Гости", title="Сколько планируется гостей?", tabindex="1")
    .drop-gosty
      .drop-gosty-vz 
        h2 Взрослые от 18 лет
      .drop-gosty-dety
        h2 Дети до 17 лет
  a.bottom-reg(href="#")
    p Подобрать номер
    .arrow-reg