doctype html 
  html(lang="ru")
    head 
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      title Login 
      link(rel="icon", href="../file/icon.png", type="image/x-icon")
      link(rel="stylesheet", href="Home.css")

    body
      header
        include Header.pug
      .fon__reg
        include registration.pug
        include login-box.pug
      footer
        include Footer.pug
      
      script(src="login.js")