$styleDark: #1f2041;
$stylePur: #bc9cff;
$styleGr: #6fcf97;
$grad: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
$shrift: "Montserrat", sans-serif;

body {
    margin: 0px;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    h2 {
        font-family: $shrift;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: $styleDark;
        text-align: center;
    }
    h3 {
        font-family: $shrift;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: rgba($styleDark, 0.75);
        margin: 0px;
    }
    p {
        font-family: $shrift;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba($styleDark, 0.75);

        margin: 0px;
    }
    .photo {
        display: flex;
        width: 100%;
        height: 485px;
        .photo__main {
            width: 66.6667%;
            img.main {
                width: 100%;
                height: 100%;
            }
        }
        .photo__add {
            display: flex;
            flex-direction: column;
            width: 33.333333333%;
            height: 100%;
            img.add {
                height: 50%;
            }
        }
    }
    .content {
        width: 100%;
        margin: 70px 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-items: flex-start;
            .about {
                display: flex;
                flex-direction: column;
                .about__position {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    border-bottom: 1px solid rgba($styleDark, 0.1);
                    .about__icon {
                        width: 48px;
                        height: 48px;
                        margin: 10px;
                        img.icon {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .opinion {
            .opinion__graf {
                display: flex;
                flex-direction: row;
                .opinion__circle {
                    position: relative;
                    display: block;
                    width: 120px;
                    height: 120px;
                    margin: 20px;
                    border-radius: 50%;
                    .opinion__area1 {
                        display: block;
                        position: absolute;
                        top: 60px;
                        left: 60px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                    }
                    .opinion__area2 {
                        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                    }
                    .opinion__area3 {
                        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                    }
                    .opinion__area4 {
                        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                    }
                }
                .opinion__legends {
                    .opinion__text1::before {
                        display: inline-block;
                        content: "";
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
                    }
                    .opinion__text2::before {
                        display: inline-block;
                        content: "";
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
                    }
                    .opinion__text3::before {
                        display: inline-block;
                        content: "";
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                    }
                    .opinion__text4::before {
                        display: inline-block;
                        content: "";
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
                    }
                }
            }
        }
        .comment {
            display: flex;
            flex-direction: column;
            .comment__people {
                display: flex;
                flex-direction: row;
                .comment__pict {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img.comment__avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 2px solid white;
                        box-shadow: 0 0 5px $styleDark;
                    }
                    .comment__like {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 20px;
                        text-align: center;
                        margin: 15px;
                        padding: 3px;
                        border: 1px solid rgba($styleDark, 0.25);
                        border-radius: 20px;
                        box-shadow: 0 0 5px rgba($styleDark, 0.25);
                        .comment__value {
                            font-family: $shrift;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 20px;
                            color: rgba($styleDark, 0.5);
                        }
                        img.comment__like-pict {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                        }
                    }
                    .comment__like_active {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 20px;
                        text-align: center;
                        margin: 15px;
                        padding: 3px;
                        border: 1px solid $stylePur;
                        border-radius: 20px;
                        box-shadow: 0 0 5px $stylePur;
                        .comment__value_active {
                            font-family: $shrift;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 20px;
                            color: $stylePur;
                        }
                        img.comment__like-pict_active {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .rule {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
