doctype html 
html(lang="ru")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Room details
    link(rel="icon", href="../file/icon.png", type="image/x-icon")
    link(rel="stylesheet", href="Room.css")
    //script(src="jQ.js")
  body
    header
      include Header.pug
    .room
      .photo
        .photo__main
          img.main(src="https://cdn1.ozone.ru/s3/hotels-widget-api/1848484048000/2349664834000/wc1000/12248086_1659905764285865_391157404186974832_o.jpg", alt="Нет главной обложки")
        .photo__add
          img.add(src="http://m.jsptravel.ru/suite_bedroom_office_7666.jpg", alt="Нет фото №1")
          img.add(src="https://cdn1.ozone.ru/s3/hotels-widget-api/1848484048000/2349664834000/wc1000/c528c124d6363d1d62e0dbfa99c3e072.jpg", alt="Нет фото №2")
      .content
        .info
          .about
            h2.about__header Сведения о номере
            .about__position
              .about__icon
                img.icon(src="https://cdn-icons-png.flaticon.com/512/3746/3746927.png", alt="Нет иконки")
              .about__text
                h3.about__subheader Комфорт
                p.about__content  Шумопоглащающие стены
            .about__position
              .about__icon
                img.icon(src="https://cdn-icons-png.flaticon.com/512/2896/2896509.png", alt="Нет иконки")
              .about__text
                h3.about__subheader Удобство
                p.about__content  Окно в каждой из спален
            .about__position
              .about__icon                
                img.icon(src="https://cdn-icons-png.flaticon.com/512/2309/2309616.png", alt="Нет иконки")
              .about__text
                h3.about__subheader Уют
                p.about__content  Номер оснащен камином
          .opinion
            h2.opinion__header
            .opinion__graf
              .opinion__circle
                .opinion__area1
                .opinion__area2
                .opinion__area3
                .opinion__area4
              .opinion__legends
                p.opinion__text1 Великолепно
                p.opinion__text2 Хорошо
                p.opinion__text3 Удволетворительно
                p.opinion__text4 Разочарован
        .comment
          h2.comment__header Отзывы поситетелей номера
          .comment__people
            .comment__pict
              img.comment__avatar(src="https://cdn-icons-png.flaticon.com/512/5046/5046928.png", alt="Нет аватарки")
              .comment__like 
                p.comment__value 23
            .comment__content
              h3.comment__name Мурад Сарафанов
              p.comment__date 5 дней назад
              p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
          .comment__people
            .comment__pict
              img.comment__avatar(src="https://cdn-icons-png.flaticon.com/512/8326/8326712.png", alt="Нет аватарки")
              .comment__like 
                p.comment__value 15
            .comment__content
              h3.comment__name Патрисия Стёклышкова
              p.comment__date 15 дней назад
              p.comment__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.
        .rule
          .core
            h2.core__header Правила
            ul.core__ul
              li.core__li
                p.core__text Нельзя с питомцами
              li.core__li
                p.core__text Без вечеринок
              li.core__li 
                p.core__text Время прибытия - после 13:00,<br> а выезд до 12:00
          .cancel
            h2.cancel__header Отмена
            p.cancel__text Бесплатная отмена в течение 48 ч. После <br> этого при отмене не позднее чем за 5 дн. до <br> прибытия вы получите полный возврат за <br> вычетом сбора за услуги.
      .menu-btn
        .btn-arrow
      .box
        include box-price.pug
    script(src="room.js")
    footer
      include Footer.pug