body {
  margin: 0px;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.room h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
  text-align: center;
}
.room h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0px;
}
.room p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0px;
}
.room .photo {
  display: flex;
  width: 100%;
  height: 485px;
}
.room .photo .photo__main {
  width: 66.6667%;
}
.room .photo .photo__main img.main {
  width: 100%;
  height: 100%;
}
.room .photo .photo__add {
  display: flex;
  flex-direction: column;
  width: 33.333333333%;
  height: 100%;
}
.room .photo .photo__add img.add {
  height: 50%;
}
.room .content {
  width: 100%;
  float: left;
  margin: 70px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.room .content .info {
  width: 66.67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.room .content .info .about {
  display: flex;
  flex-direction: column;
}
.room .content .info .about .about__position {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room .content .info .about .about__position .about__icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}
.room .content .info .about .about__position .about__icon img.icon {
  width: 100%;
  height: 100%;
}
.room .content .opinion .opinion__graf {
  display: flex;
  flex-direction: row;
}
.room .content .opinion .opinion__graf .opinion__circle {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0px 20px;
  border-radius: 50%;
  background: conic-gradient(#ffe39c 0% 50%, #6fcf97 50% 75%, #bc9cff 75% 95%, #919191 95% 100%);
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__white,
.room .content .opinion .opinion__graf .opinion__circle .opinion__orange,
.room .content .opinion .opinion__graf .opinion__circle .opinion__green,
.room .content .opinion .opinion__graf .opinion__circle .opinion__pur,
.room .content .opinion .opinion__graf .opinion__circle .opinion__black {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(31, 32, 65, 0.25);
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__white {
  width: 85%;
  height: 85%;
  background: white;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__white .opinion__inner {
  opacity: 0;
  color: #1f2041;
  transition: 1s;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__orange .opinion__inner {
  opacity: 0;
  color: #ffc49c;
  transition: 1s;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__green .opinion__inner {
  opacity: 0;
  color: #6fcf97;
  transition: 1s;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__pur .opinion__inner {
  opacity: 0;
  color: #bc9cff;
  transition: 1s;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__black .opinion__inner {
  opacity: 0;
  color: #919191;
  transition: 1s;
}
.room .content .opinion .opinion__graf .opinion__circle .opinion__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  margin: 10px;
  font-weight: 700;
  font-size: 16px;
  height: 100%;
  text-shadow: 0 0 1px #1f2041;
  text-transform: uppercase;
}
.room .content .opinion .opinion__graf .opinion__legends .opinion__text1::before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
}
.room .content .opinion .opinion__graf .opinion__legends .opinion__text2::before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.room .content .opinion .opinion__graf .opinion__legends .opinion__text3::before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.room .content .opinion .opinion__graf .opinion__legends .opinion__text4::before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
}
.room .content .comment {
  display: flex;
  flex-direction: column;
  margin: 30px 140px 0px 140px;
}
.room .content .comment .comment__people {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.room .content .comment .comment__people .comment__pict {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.room .content .comment .comment__people .comment__pict img.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px #1f2041;
}
.room .content .comment .comment__people .comment__pict .comment__like {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 15px;
  padding: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(31, 32, 65, 0.25);
}
.room .content .comment .comment__people .comment__pict .comment__like .comment__value {
  position: relative;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: rgba(31, 32, 65, 0.5);
}
.room .content .comment .comment__people .comment__pict .comment__like .comment__value::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 15px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/3446/3446990.png);
  background-size: cover;
}
.room .content .comment .comment__people .comment__pict .comment__like_active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 15px;
  padding: 3px;
  border: 1px solid #bc9cff;
  border-radius: 20px;
  box-shadow: 0 0 5px #bc9cff;
}
.room .content .comment .comment__people .comment__pict .comment__like_active .comment__value_active {
  position: relative;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #bc9cff;
}
.room .content .comment .comment__people .comment__pict .comment__like_active .comment__value_active::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 15px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5249/5249243.png);
  background-size: cover;
}
.room .content .rule {
  margin: 0px 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 66.6666%;
}
.room .content .rule .core li.core__li {
  color: rgba(31, 32, 65, 0.25);
}

.menu-btn {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  cursor: pointer;
  z-index: 2;
}
.menu-btn .btn-arrow,
.menu-btn .btn-arrow::before,
.menu-btn .btn-arrow::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  transition: 0.5s;
}
.menu-btn .btn-arrow {
  position: relative;
  top: 23px;
  left: 7.5px;
}
.menu-btn .btn-arrow::before {
  position: absolute;
  top: -10px;
  left: 0px;
}
.menu-btn .btn-arrow::after {
  position: absolute;
  top: 10px;
  left: 0px;
}

.menu-btn_active {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #bc9cff 0%, #8ba4f9 100%);
  cursor: pointer;
  transform: scale(60%);
  transition: 0.5s;
  z-index: 2;
}
.menu-btn_active .btn-arrow_active,
.menu-btn_active .btn-arrow_active::before,
.menu-btn_active .btn-arrow_active::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  transition: 0.5s;
}
.menu-btn_active .btn-arrow_active {
  position: relative;
  top: 23px;
  left: 7.5px;
  height: 0px;
  transition: 0s;
}
.menu-btn_active .btn-arrow_active::before {
  position: absolute;
  top: 0px;
  transform: rotate(45deg);
  background-color: white;
}
.menu-btn_active .btn-arrow_active::after {
  position: absolute;
  top: 0px;
  transform: rotate(-45deg);
  background-color: white;
}

.box {
  visibility: hidden;
  position: fixed;
  left: 5%;
  bottom: 5%;
  transform: scale(0);
  transition: 0.5s;
  transform-origin: left bottom;
}

.box_active {
  visibility: visible;
  position: fixed;
  left: 5%;
  bottom: 5%;
  transform: scale(100%);
  transition: 0.5s;
}

/*# sourceMappingURL=room.css.map */
